*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-top:0px;
    background-color:  rgb(115, 120, 141);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    letter-spacing: .05em;
}
#form{
    background-image: radial-gradient( rgb(115, 120, 141), 70%, grey),
    linear-gradient(135deg, grey 0%, 20%, tra 20%,100%);
    display:flex;
    flex-direction:column;
   
    block-size: 400px;
    inline-size: 300px; 
    padding: 10px;
    /* border-left: 4px solid grey; */
    /* box-shadow: 5px 10px 10px rgba(202, 96, 200, 0.1); */
    border-radius:10px;
    color:white;
}
button{
    margin-block: 10px;
    inline-size:25%;
    border-radius: 5px;
    color:white;
    /* border: 10px outset rgb(174, 167, 167); */
    border: none;
    background-color: grey;
    block-size: 100px;
    inline-size: 75px;
    object-fit: contain;
    background-image: url(299275.png);
    background-size: cover;
    border: 8px solid white;
    /* box-shadow: 3px 3px 7px black; */
}
input{
    /* border-radius: 5px; */
    background-color:rgba(245, 173, 244, 0.3) ;
    border: none;
    color: rgb(31, 24, 36);
    margin-block:20px;
    letter-spacing: .03em;
    padding-top: 7px;
    padding-bottom: 15px;
}

.container{
    inline-size:66%;
    background-color: black;
    height: 100vh;  
    align-self: flex-end;
    background-image: linear-gradient(130deg, rgb(112, 117, 138) ,10%,  rgb(115, 120, 141));
}

